O.*/
/db/
/bin/
/dbd/
/include/
/lib/
/data/
/templates/
envPaths
cdCommands
dllPath*.bat
runIOC.bat
runIOC.sh
relPaths.sh
NULL
*_info_positions.req
*_info_settings.req
/iocBoot/ioc*/*.gmc
.project
NULL
